@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Jersey 25", sans-serif;
  }
  

body{
    background: rgba(0, 0, 0, 0.8) url(/Images/BG.gif) no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed;
    position: relative;
    overflow: auto;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
  font-size: 1.3rem; 
 }
.text-section{
  position: relative;
}

p{
  font-size: 1.2rem;
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: rgb(255, 255, 255);
  background-color: #04c0fa;  
  border-radius: 10px;
}

.text-info{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}
.me{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
} 
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}

.Certificates{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}
.skills{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}

.me img{
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(0);
  }
}
@media(max-width:769px){
  .collapse {
    background-color: #012a37; 
    border-radius: 20px;
  }
  
  .collapse .nav-link {
    color: white; 
  }
  .nav-item{
    margin-left: 50px;
  }
  .proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width: 426px) {
  
  .proj iframe {
    width: 80px;
    height: 65px;
  }
  .cert{
    flex-direction: column;
    width: 80%; 

  }
  .aboutme .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
  .seemore .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
}
@media (max-width: 3750px){
  .proj iframe {
    width: 80px;
    height: 65px;
  }
  #Certificates img {
    width: 100%; 
  }
  .aboutme .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
  .seemore .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
}

@media (max-width: 320px) {
  .aboutme .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
  .seemore .social-icons{
    transform: translateY(530%);
    padding-left: 20px;
  }
  .proj iframe {
    width: 80px;
    height: 65px;
  }
  #Certificates img {
    width: 100%; 
  }
}
