@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Jersey 25", sans-serif;
  }
  

body{
    background: rgba(0, 0, 0, 0.8) url(/Images/BG.gif) no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed;
    position: relative;
    overflow: auto;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
  font-size: 1.3rem; 
 }
.text-section{
  position: relative;
}

p{
  font-size: 1.2rem;
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: rgb(255, 255, 255);
  background-color: #04c0fa;  
  border-radius: 10px;
}

.text-info{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}
.me{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
} 
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}

.Certificates{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}
.skills{
  filter: drop-shadow( 0px 0px 8px #00DBFE);
}

.me img{
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(0);
  }
}
@media (max-width: 1220px){
  .text-section{
   width: 100%;
  }

}

@media (max-width: 991px) {
  .collapse {
    background-color: #012a37; 
    border-radius: 20px;
  }
  
  .collapse .nav-link {
    color: white; 
  }
  .nav-item{
    margin-left: 50px;
  }
  .social-icons {
    transform: translateY(420%);
    align-items: center; 
  }
  .seemore .social-icons{
    transform: translateY(550%); 
    align-items: center; 
  }

}
@media (max-width: 512px) {
  body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .social-icons {
    position: relative; 
    align-items: center; 
  }
  .seemore .social-icons{
    transform: translateY(500%);
  }
}

@media (max-width: 376px){

  .social-icons{
    align-items: start; 
    margin-left: 50px;
  }
  .seemore .me{
    margin-left: 150px;
  }
  .seemore .social-icons{
    transform: translateY(530%);
    margin-left: 150px;

  }
  .seemore .text-section{
    width: 200%;
    
  }

  .proj .col { /* Each column takes 50% of the width (2 per row) */
    max-width: 90%; /* Prevents stretching beyond half the width */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
  .aboutme{
    margin-left: 150px;
    width: 100%;
  }
  .seemore,
  .Certificates {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 0 auto; 
    max-width: 80%; 

  }
  .skills{
    margin-left: 250px;
    width: 150%;
  }
}